<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.example.dao.KirokuDao">
<insert id="insertKiroku">
    INSERT  INTO kiroku(vid,uid,ptime)
    VALUES(#{kiroku.vid},(SELECT uid FROM `user` WHERE username = #{kiroku.userName}),NOW());
</insert>
    <select id="forVerify" resultType="boolean">
        SELECT COUNT(*) > #{kiroku.lim}-1 FROM kiroku WHERE vid = #{kiroku.vid} AND uid = (SELECT uid FROM `user` WHERE username = #{kiroku.username});
    </select>
<select id="selectkiroku" resultType="edu.example.entity.Kiroku">
    select kiroku.*,user.username from kiroku left join user on kiroku.uid=user.uid;
</select>

    <delete id="deleteK" parameterType="map">
        DELETE FROM `kiroku`
        <where>
            <if test="kiroku.vid != 0 and kiroku.uid != 0">
                AND vid = #{kiroku.vid} AND uid = #{kiroku.uid}
            </if>
            <if test="kiroku.vid != 0 and kiroku.uid == 0">
                AND vid = #{kiroku.vid}
            </if>
            <if test="kiroku.vid == 0 and kiroku.uid != 0">
                AND uid = #{kiroku.uid}
            </if>
        </where>
    </delete>



</mapper>